<div class="container">
	<h3 class="page-title">Talking about myself</h3>

	<br>

	<p>Expat spaniard, traveler, software enthusiast. Since I was a kid computers were part of my life (yeah, the typical phrase you'd see on a programmer bio), at eighteen I wrote my first line of code and never stopped since then, except for a sabatic year of travels around the globe.</p>

	<p>I love to share new ways of creating software, and I always find myself eager to play with any new technology that pops around. Amazes me the feeling of brain-expansion when I start digging into the "candy box" of a new paradigm changing software.</p>

	<p>However this is just a tiny part of my story, to hear the whole of it you'll need to <a routerLink="/contact">contact me</a>.</p>
</div>