<app-phone-menu class="visible-xs" [isOpen]="menuStatus" (onClose)="closeMenu()"></app-phone-menu>

<div class="visible-xs col-xs-12 m-menu">
  <button class="col-xs-2" (click)="openMenu()">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
  </button>
  <div class="col-xs-10">
    <p class="h1 title">a<span class="h2">lex</span>p<span class="h2">erez</span></p>
  </div>
</div>

<div class="jumbotron">
	<div class="container">

		<div class="col-xs-6 header-left">
			<h1 class="title hidden-xs">a<small>lex</small>p<small>erez</small></h1>
			<h2 class="subtitle">Software Developer</h2>
			<h3 class="hidden-xs">
				<small>["devOps", "fullStack"]; //for the current hip<a href="https://en.wikipedia.org/wiki/Hip_(slang)" target="_blank">*</a></small>
			</h3>
      <div class="visible-xs social-menu">
        <div class="col-xs-6">
          <a href="https://github.com/al-pez" target="_blank">
            <img class="img-social" src="../assets/github.png">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://www.linkedin.com/in/alexperezdev/en" target="_blank">
            <img class="img-social" src="../assets/linkedin.png">
          </a>
        </div>
      </div>
		</div>

		<div class="col-xs-6 header-right">
      <img class="img-circle pull-left" src="../assets/alex.jpg">
      
      <div class="hidden-xs">
        <div class="col-xs-6">
          <a href="https://github.com/al-pez" target="_blank">
            <img class="img-social" src="../assets/github.png">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://www.linkedin.com/in/alexperezdev/en" target="_blank">
            <img class="img-social" src="../assets/linkedin.png">
          </a>
        </div>
      </div>
		</div>
	</div>
</div>