<div class="container">
	<h3 class="page-title">My favourite toys</h3>

	<div class="row">
		<div class="col-sm-6">
			<h1><small>Backend <i class="glyph glyph-java"></i> <i class="glyph glyph-springio"></i> <i class="glyph glyph-python"></i></small></h1>
			<p>Java is the language I speak the most, and <a href="https://spring.io/projects/" target="_blank">Spring</a> my favourite 'accent'. Kind of like being in my hometown and speaking Spanish, but hey, I like to get out of my comfort-zone, and some <a href="https://www.python.org/" target="_blank">Python</a> scripts have fallen into my hands from time to time. However, I'm always eager to learn new languages.</p>
			<p>The dependency management tool of my choice is <a href="https://maven.apache.org/" target="_blank">Apache Maven</a>. I like to use it even when dealing with frontend dependencies, if it's plausible, although certain occasions call for other (not less fancy) tools like <a href="https://www.npmjs.com/" target="_blank">npm</a> or <a href="https://bower.io/" target="_blank">Bower</a>.</p>
		</div>

		<div class="col-sm-6">
			<h1><small>Frontend <i class="glyph glyph-typescript"></i> <i class="glyph glyph-angular"></i> <i class="glyph glyph-bower"></i> <i class="glyph glyph-npm"></i></small></h1>
			<p>I started off with ActionScript3, back then when it was popular, Adobe Flex (currently <a href="http://flex.apache.org/" target="_blank">Apache Flex</a>), was my bfast, lunch and dinner for about 4 years (comes without saying that I liked to 'spice it up' with some <a href="http://www.spicefactory.org/parsley/" target="_blank">Parsley</a>).</p>
			<p>After this sweet time, came a JavaScript/HTML transition. Swimming all over an ocean of tools, I stumble upon one framework that made me feel, somewhat, warm inside. <a href="https://angularjs.org/" target="_blank">AngularJS</a> was my choice.</p>
			<p>Nowdays, I play with google's new toy <a href="https://angular.io/" target="_blank">Angular</a> ('2' how it's still referred to), and personally, TypeScript fills me up with joy when coding frontend.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<h1><small>Databases <i class="glyph glyph-mongodb"></i> <i class="glyph glyph-redis"></i> <i class="glyph glyph-mysql"></i></small></h1>
			<p><a href="https://www.mysql.com/" target="_blank">MySQL</a>: I've used it for most of my corporate developer life.
			<br><a href="https://www.mongodb.com/" target="_blank">MongoDB</a>: Eagerly taking in all that I can get of it during my free time.
			<br><a href="https://redis.io/" target="_blank">Redis</a>: Looking forward to dive deeper into it to complement the previous one.</p>
		</div>

		<div class="col-sm-4">
			<h1><small>VCS 's <i class="glyph glyph-git"></i> <i class="glyph glyph-svn"></i></small></h1>
			<p><a href="https://subversion.apache.org/" target="_blank">SVN</a>: Heavily used on the professional enviroments I have worked in.
			<br><a href="https://git-scm.com/" target="_blank">Git</a>: Falling in love with it, while playing on my spare hours.</p>
		</div>

		<div class="col-sm-4">
			<h1><small>Other goodies <i class="glyph glyph-aws"></i> <i class="glyph glyph-docker"></i></small></h1>
			<p><a href="https://www.docker.com/" target="_blank">Docker</a>: The big whale that is taking over the whole scene (just getting started).
			<br><a href="https://aws.amazon.com/" target="_blank">AWS</a>: So broad that I haven't got to grasp the whole of it, yet.</p>
		</div>
	</div>
</div>