<div class="container">
  <div class="user-details">
    <h3> Stuff I like </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="three columns">
      <h4>Front</h4>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>Very confortable with angluar.js, but it's time to hand over the baton to angular(2)</p>
    </div>
    <div class="three columns">
      <h4>Back</h4>
      <i class="devicon-java-plain colored"></i>
      <p>spring.io: the more projects, the better</p>
    </div>
    <div class="three columns">
      <h4>Data</h4>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-redis-plain colored"></i>
      <p>Long time with SQL in the corporate world, eagerly improving noSQL and KV at home</p>
    </div>
    <div class="three columns">
      <h4>Utils</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-bower-line colored"></i>
      <p>Version control systems (SVN, git), dependencies managers (maven, npm, bower) and fairly new to this simplificator for deployment automation that is Docker</p>
    </div>
  </div>
</div>
