<div class="container">
	<h3 class="page-title">Some code scraps</h3>

	<br>

	<p>Some of my lastest personal projects, utilities, components and specially show-cases for the technologies I've been digging into lately.
	If you're interested on seen the actual code refer to my <a href="https://github.com/alxpez">GitHub</a> profile.</p>

	<br>

	<div class="media">
		<div class="media-left media-middle">
			<a href="./wther">
			  <img class="media-object thumb" src="../assets/wt.jpg">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">wTher</h4>
			<p>Minimalistic world forecast application, built as a way to play around with the new Angular (2+) and some API's (google-places and openweathermap). Problably you wouldn't change it for asking the forecast to Google, but neither is intended as an actual utility, fits more as a show-case/demo.</p>
		</div>
	</div>

	<br>

	<div class="media">
		<div class="media-left media-middle">
			<a href="./dynamic-table">
			  <img class="media-object thumb" src="../assets/dyta.jpg">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">dynamic-table</h4>
			<p>Dynamic table component for AngularJS (1.5.x) applications. It allows the addition/removal of columns on runtime without the need of reloading views/collections. Simple component needed to supply certain functionality in a working project from my last job. This is just a demo of the working component.</p>
		</div>
	</div>
</div>