<div class="container">
	<h3 class="page-title">Contact me</h3>

	<br>
	
	<p>And... you got to my contact page, either because you want to get in contact with me for a random question, or "you're gonna me an offer I can't refuse". Go on! Don't hesitate and get in touch through any of the following media.</p>
	<p><i class="glyph glyph-location"></i> I'm currently based in <strong>Wellington (NZ)</strong>, and open to new professional opportunities in the area.</p>

	<br>
	
	<ul class="list-inline text-center contact-menu">
		<li><a href="mailto:alexperez.dev@gmail.com" target="_blank"><i class="glyph glyph-envelope"></i></a></li>
		<li><a href="https://www.linkedin.com/in/alexperezdev/en" target="_blank"><i class="glyph glyph-linkedin"></i></a></li>
		<li><a href="https://telegram.me/alxpez" target="_blank"><i class="glyph glyph-telegram"></i></a></li>
		<li><a href="https://github.com/alxpez" target="_blank"><i class="glyph glyph-github"></i></a></li>
	</ul>
</div>