<div class="container">
	<h3 class="page-title">Contact me</h3>

	<br>
	
	<p>And... you got to my contact page, either because you want to get in contact with me for whatever reason, or "you're gonna me an offer I can't refuse". I'm currently based in <strong>Wellington</strong>, and open to new professional opportunities in the city. Go on! Don't hesitate and get in touch through any of the following media:</p>

	<br>
	
	<ul>
		<li><span class="glyphicon glyphicon-earphone"></span> (0204) 140 4738</li>
		<li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:alexperez.dev@gmail.com">alexperez.dev@gmail.com</a></li>
	</ul>
</div>