.jumbotron {
    padding-top: 23px;
    margin-bottom: 0;
}

.header-left {
	padding: 8px;
}

.header-left > * {
	text-align: right;
	margin: 5px;
}

.header-right {
	margin-top: 25px;
}

.header-right > div {
	padding: 0 8px;
}

.img-social {
	margin: 10px 0 0;
	font-size: 38px;
	color: inherit;
}


.img-circle {
	float: left!important;
    border-radius: 50%;
    width: 160px;
    padding-right: 15px;
    padding-left: 15px;
}

.social-menu > div {
	padding-left: 0px;
}

.m-nav {
	top: 0;
	width: 100%;
    position: fixed; /* Stay in place */
}

.m-menu {
    border-bottom-width: thin;
    border-bottom-style: groove;
}

.m-menu,
.m-menu > * {
	padding: 0;
	margin: 0;
}

.m-menu-btn {
	font-size: x-large;
}

p.title {
	margin: 0;
	padding-top: 2px;
}

button {
	width: 50px;
	height: 50px;
	font-size: larger;
	border: none;
	background-color: transparent;
    color: inherit;
}

button:focus {
	outline: 0;
}

.d-nav {
	margin-bottom: 28px;
}

.d-nav li {
	margin: 20px 15px;
}

.d-nav a {
	padding-bottom: 18px;
}

a {
	font-size: 16px;
}
a.active { 
	border-bottom-width: thin;
    border-bottom-style: solid;
}


@media only screen and (max-width: 767px) {
	.jumbotron {
        padding: 50px 0 20px;
    }

	.header-left {
		padding: 0 0 0 15px;
	}

	.header-left > * {
		text-align: left;
		margin: 15px 0 0;
	}

	.header-left > h3 {
		margin: 15px 0 25px;
	}

	.header-right {
		margin-top: 15px;
		padding: 0;
	}

	.img-circle {
		float: right!important;
		width: 140px;
	}

	.img-social {
		font-size: 30px;
		height: 35px;
		margin: 0;
	}
}