<div class="jumbotron">
	<div class="container">
		<!-- <div class="col-sm-3">
			<img class="img-circle pull-right" src="https://avatars0.githubusercontent.com/u/5973189">
		</div>
		<div class="col-sm-9 header">
			<h1>AlexPerez</h1>
			<h3>Software Developer, <small>Full-stack, DevOps for the current "hip"</small></h3>
		</div> -->

		<!-- OPT 2 -->
		<div class="col-sm-6 header-2">
			<h1>a<small>lex</small>p<small>erez</small></h1>
			<h3>Software Developer</h3>
			<h3><small>Full-stack, DevOps for the current "hip"</small></h3>
		</div>
		<div class="col-sm-6">
			<img class="img-circle-2" src="https://avatars0.githubusercontent.com/u/5973189">
		</div>
	</div>
</div>

<!-- TODO> all this goes to the different views -->
<div class="container">
  <!-- Example row of columns -->
  <!-- <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr> -->

<!-- TODO> Separate view for the footer -->
  <footer>
    <p>© 2016 Company, Inc.</p>
  </footer>
</div>
<router-outlet></router-outlet>
