.title, .title > small {
	color: #F4F3FF;
}

.subtitle {
	color: #B19994;
}

.header-left {
	padding: 8px;
}

.header-left > * {
	text-align: right;
	margin: 5px;
}

.header-right {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.header-right {
		margin-top: 40px;
	}
}

.header-right > div {
	padding: 0 8px;
}

.img-circle {
    border-radius: 50%;
    width: 140px;
    padding-right: 15px;
    padding-left: 15px;
}

.img-social {
	margin-top: 10px;
	width: 40px;
}