.thumbnail {
	background-color: rgba(245,245, 245, 0.05);
    border: thin solid rgba(245,245, 245, 0.10);
	min-height: 400px;
}

.thumbnail > img {
	width: 100%;
}

.caption {
	color: inherit;
	padding: 5px 10px;
}

.scraps {
    position: initial;
}

.button-wrapper {
    bottom: 0;
}