<div class="container">
	<h3 class="page-title">Some code scraps</h3>

	<br>

	<p>Some of my lastest personal projects, utilities, components and show-cases for the technologies I've been diving into lately.
	If you're interested on seen the actual code refer to my <a href="https://github.com/alxpez">GitHub</a> profile.</p>

	<br>

	<div class="row">
		<span class="visible-lg col-lg-1"></span>
		<div class="col-sm-6 col-lg-5 scraps">
			<div class="thumbnail">
				<a href="./wther">
					<img src="../assets/wt_hi.jpg">
				</a>
				<div class="caption">
					<h3>wTher</h3>
					<p>Minimalistic world forecast application, built as a way to play around with the new Angular (2+) and some API's (google-places and openweathermap). You wouldn't probably change it for the good old question to Google, but neither was my intention when I developed it, I embrace it as a show-case/demo.</p>
					<p class="button-wrapper text-center">
						<a href="https://github.com/alxpez/wther" class="btn btn-default" role="button">
							See on <i class="glyph glyph-github"></i>
						</a>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-lg-5 scraps">
			<div class="thumbnail">
				<a href="./dynamic-table">
					<img src="../assets/dyta_hi.jpg">
				</a>
				<div class="caption">
					<h3>dynamic-table</h3>
					<p>Dynamic table component for AngularJS (1.5.x) applications. It allows the addition/removal of columns on runtime without the need of reloading views/collections. This is a simple component that we needed in some of the last projects I worked on, to supply certain functionality. This is just a demo of the working component.</p>
					<p class="button-wrapper text-center">
						<a href="https://github.com/alxpez/dynamic-table" class="btn btn-default" role="button">
							See on <i class="glyph glyph-github"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
		<span class="visible-lg col-lg-1"></span>
	</div>

	<!-- <div class="media">
		<div class="media-left">
			<a href="./wther">
			  <img class="media-object thumb" src="../assets/wt.jpg">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">wTher</h4>
			<p>Minimalistic world forecast application, built as a way to play around with the new Angular (2+) and some API's (google-places and openweathermap). You wouldn't probably change it for the good old question to Google, but neither was my intention when I developed it, I embrace it as a show-case/demo.</p>
		</div>
	</div>

	<br>

	<div class="media">
		<div class="media-left">
			<a href="./dynamic-table">
			  <img class="media-object thumb" src="../assets/dyta.jpg">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">dynamic-table</h4>
			<p>Dynamic table component for AngularJS (1.5.x) applications. It allows the addition/removal of columns on runtime without the need of reloading views/collections. This is a simple component that we needed in some of the last projects I worked on, to supply certain functionality. This is just a demo of the working component.</p>
		</div>
	</div> -->
</div>